Daniel Hentzschel <daniel.hentzschel@stud.th-rosenheim.de> sINFdahent <daniel.hentzschel@stud.th-rosenheim.de>
Sunny Reitgassl <sunny.reitgassl@stud.th-rosenheim.de> studreitsu7244 <sunny.reitgassl@stud.th-rosenheim.de>
