/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

/* Tailwind cheatsheet: https://tailwindcomponents.com/cheatsheet/ */

/* Tailwind extensions */
.h-10-5 {
    height: 42px;
}

.w-70p {
    width: 70%;
}

.w-30p {
    width: 29%;
}


/*noinspection CssInvalidAtRule*/
.btn {
    @apply font-bold py-2 px-4 rounded;
}

/*noinspection CssInvalidAtRule*/
.btn-blue {
    @apply bg-blue-500 text-white;
}

/*noinspection CssInvalidAtRule*/
.btn-light-gray {
    @apply bg-gray-500 text-white;
}

/*noinspection CssInvalidAtRule*/
.btn-blue:hover {
    @apply bg-blue-600;
}

/* Use style from svelte-select */

input {
    border: 1px solid #d8dbdf;
    border-radius: 3px;
    padding: 0 1rem;
}

input::-webkit-scrollbar-thumb { /* Foreground */
    background: #999;
}