/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

/* Tailwind cheatsheet: https://tailwindcomponents.com/cheatsheet/ */

/* Tailwind extensions */
.h-10-5 {
    height: 42px;
}

.w-70p {
    width: 70%;
}

.w-30p {
    width: 29%;
}

/* Use style from svelte-select */

input {
    border: 1px solid #d8dbdf;
    border-radius: 3px;
    padding: 0 1rem;
}

input::-webkit-scrollbar-thumb { /* Foreground */
    background: #999;
}